<?xml version="1.0"?>
<configuration>
  <!--  To collect diagnostic traces, uncomment the section below or merge with existing system.diagnostics section.
        To persist the traces to storage, update the DiagnosticsConnectionString setting with your storage credentials.
        To avoid performance degradation, remember to disable tracing on production deployments.
  <system.diagnostics>     
    <sharedListeners>
      <add name="AzureLocalStorage" type="WCFServiceWebRole1.AzureLocalStorageTraceListener, WCFServiceWebRole1"/>
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources> 
   </system.diagnostics> -->
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter  />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<httpRuntime maxRequestLength="2147483647"/>-->
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2000000" maxBufferSize="2000000">
          <readerQuotas maxStringContentLength="2048000" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2000000" maxBufferSize="2000000">
          <readerQuotas maxStringContentLength="2048000" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000"/>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>-->
    <services>
      <service name="WCFServiceWebRole1.CropService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.ICropService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.ICropService"/>
      </service>
      <service name="WCFServiceWebRole1.FieldMeasureService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.IFieldMeasureService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.IFieldMeasureService"/>
      </service>
      <service name="WCFServiceWebRole1.FieldService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.IFieldService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.IFieldService"/>
      </service>
      <service name="WCFServiceWebRole1.IllnessService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.IIllnessService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.IIllnessService"/>
      </service>
      <service name="WCFServiceWebRole1.JournalService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.IJournalService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.IJournalService"/>
      </service>
      <service name="WCFServiceWebRole1.MapFieldService">
         <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.IMapFieldService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.IMapFieldService"/>
      </service>
      <service name="WCFServiceWebRole1.MapService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.IMapService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.IMapService"/>
      </service>
      <service name="WCFServiceWebRole1.TimePeriodsService">
        <endpoint address="web" 
                     behaviorConfiguration="httpBehavior"
                     binding="webHttpBinding"
                     contract="WCFServiceWebRole1.ITimePeriodsService"/>
        <endpoint address=""
                     binding="basicHttpBinding"
                     contract="WCFServiceWebRole1.ITimePeriodsService"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />

  </system.webServer>
</configuration>