<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICropService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:21882/CropService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICropService" contract="CropServiceReference.ICropService"
                name="BasicHttpBinding_ICropService" />
        </client>
    </system.serviceModel>
</configuration>